$font-stack: Helvetica, sans-serif;
$primary-color: #777;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#avatarIcon{ color: #fff; background : rgb(76, 175, 80); margin :0 auto; padding: 10px}
.complaintDetail label{font-size: 26px;color: #347edd}
.complaintDetail p{margin: 5px 0 25px; font-size: 14px;line-height: 24px;}